<ul class="list-unstyled">
  {{ $allPages := union (where .Data.Pages "Section" "reflection") (where .Data.Pages "Section" "blog") }}
  {{ $filtered := where $allPages ".Params.unlisted" "!=" "true" }}
  {{ range $filtered.ByDate.Reverse }}
  <li class="recent-articles">
    <h4 class="meta-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    <div class="meta-date">
      <time class="meta-data">{{ .Date.Format (.Site.Params.dateform | default "2006/01/02") }}</time>
    </div>
  </li>
  {{ end }}
</ul>